<h2>Add a Truck</h2>
<form class="create-truck">

    <div class="form-group">
        <label for="truckName">Truck Name:</label>
        <input type="text" id="truckName" name="truckName">
    </div>

    <div class="form-group">

        <label for="truckLocation">Truck loc:</label>
        <input type="text" id="truckLocation" name="truckLocation">
        <br><br>
    </div>

    <div class="form-group">
        <label for="cuisineName">Type of Cuisine (ex: Thai):</label>
        <input type="text" id="cuisineName" name="cuisineName">
    </div>


    <div class="form-group">
        

        <label for="dish">Dish:</label>
        <input type="text" id="dish" name="dish">
       
        <label for="price">Price($):</label>
        <input type="text" id="price" name="price">

        <button type="submit">Add Truck</button>

       {{!--  <button type="submit">Add Dish</button> --}}

    </div>
{{!--     <center><h3>Truck you added:</h3>
               
    {{ truck.[0].name }}
     
        </center>
    <center>
        <h3>Dishes you added:</h3>
        {{#each truck}}
        <p>Dish: {{this.dish_name}}
        Price: ${{this.dish_price}}</p>
        {{/each}}
        </center> --}}

    
    
</form>

 

<form class="create-menu">

    
    
</form>

