<ul>
  {{#each locations}}
  <li><button class="locationButton" data-id="{{this.location}}">
      {{data}}
    </button></li>
  {{/each}}
</ul>

<h2>Add a Truck</h2>
<form class="create-form">

  <div class="form-group">
    <label for="truckName">Truck Name:</label>
    <input type="text" id="truckName" name="truckName">
  </div>

  <select name="locationDropDown">
    {{#each locations}}
    <option> {{data}} </option>
    {{/each}}
  </select>
  <br><br>
  <button type="submit">Add Truck</button>
</form>