<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <center>
                <h1>This is the menu for {{ menu.[0].name }}</h1>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <center>

                {{#each menu}}

                <p> Dish name:{{this.dish_name}}</p>
                <p> Price:{{this.dish_price}}</p>

                <br>
                {{/each}}

            </center>
        </div>
    </div>

</div>